<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Debug-only visual harness for the design system. Never merged into release. -->
    <application>
        <activity
            android:name=".devgallery.DesignGalleryActivity"
            android:exported="true"
            android:theme="@style/Theme.Bevest" />
        <activity
            android:name=".devgallery.RowGalleryActivity"
            android:exported="true"
            android:theme="@style/Theme.Bevest" />
    </application>
</manifest>
